<section>
    <div id="carlos">
        <img src="/assets/img/carlos.jpg" width="200px" />
        <br /><h1>Carlos Freire Caballero</h1><br />
        GitHub: <a href="https://github.com/padrazo04" target="blank">padrazo04</a>
        <mat-card>
            Carlos es un futuro ingeniero de software encargado del
            desarrollo de la explicación de Angular CLI. <br /><br />Carlos ha 
            supervisado también la realización de la instalación de Angular,
            nuestra primera aplicación en Angular y algunos ejemplos.
        </mat-card>
    </div>
    <div id="david">
        <img src="/assets/img/david.jpeg" width="200px" />
        <br /><h1>David Bermejo Sánchez</h1><br />
        GitHub: <a href="https://github.com/i72besad" target="blank">Davidbs96</a>
        <mat-card>
            David es un futuro ingeniero de software encargado del
            desarrollo de la explicación de la página principal de este tutorial.
            <br /><br />También ha dirigido el desarrollo de los términos 
            de importancia que se han ido añadiendo al glosario además de ser
            el jefe de estilos.
        </mat-card>
    </div>
</section>
