mat-sidenav-container {
    background-color: transparent;
}

mat-sidenav {
    background-color: transparent;
    margin-top: 40px;
    padding-right: 1%;
    width: 25%;
    line-height: 35px;
    text-align: right;
}

mat-sidenav a {
    padding : 10px 10px;
}

mat-sidenav-content {
    margin: 0;
}

section {
    /*margin-left: 500px;*/
    margin-right: 33%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    background: white;
    border-radius: 4px;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 2em;
}

p {
    margin: 20px;
}

ul {
    margin-left: 50px;
}

.link {
    color: #111;
    padding: 0;
    text-decoration: none;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), rgba(0, 255, 0, 0.35) calc(50% - 8px), rgba(0, 255, 0, 0.35) 100% );
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
    word-break: break-word;
}