<mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
            <a routerLink="./" fragment="intro">¿Qué es Angular?</a><br />
            <a routerLink="./" fragment="diferencias">Diferencias entre Angular y AngularJS</a><br />
            <a routerLink="./" fragment="moviles">Angular y los dispositivos móviles</a><br />
            <a routerLink="./" fragment="ventajas">Ventajas y Desventajas de Angular</a><br />
            <a routerLink="./" fragment="comparaciones">Comparaciones: React y Vue</a><br />
            <a routerLink="./" fragment="casos-exito">Casos de exito</a><br />
            <a routerLink="./" fragment="marco">Marco de Angular dentro de la asignatura</a><br />
            <a routerLink="./" fragment="see-also">Vea también</a><br />
            <a routerLink="./" fragment="resources">Recursos</a><br />
        </mat-sidenav>
        <mat-sidenav-content>
            <section>
            <h1>Introducción</h1>
            <br>
            <a name="intro"><h2>¿Qué es Angular?</h2></a>
            <p>Angular es un web framework desarrollado en TypeScript y mantenido por Google que destaca
                por la sencillez con la que podemos desarrollar aplicaciones del lado del cliente / aplicaciones web
                 <a routerLink="./../glosario">SPA</a> (Single Page App). 
            Angular es modular y se basa principalmente en lo que llaman “Componentes” que son unas clases 
            cuyas propiedades nos permite controlar partes de la página.
            Al ser desarrollado por Google, tiene una gran comunidad detrás, haciendo que sea uno de los Front-End 
            Frameworks más utilizados en la actualidad. 
            </p>
            <br>
            
            <a name="diferencias"><h2>Diferencias entre Angular y AngularJS</h2></a>
            <p>Hay que diferenciar entre Angular y AngularJS, siendo este último una primera versión lanzada en
                JavaScript en 2010. Pero, para responder a los nuevos paradigmas sobre la programación web, comenzaron a 
                transicionar hacia una nueva versión sin JavaScript. Comenzaron el desarrollo en 2014 y en 2016 se lanzaron
                la versión 2 de Angular, reescrita completamente a TypeScript
                para centrarse en los móviles, obteniendo un mayor rendimiento y enfocándose en un desarrollo de código
                más estructurado, modular y reutilizable.
                Actualmente ambos frameworks están en uso aunque el presente y futuro es Angular, mientras que AngularJS acabará desfasándose
                y las webs que usen AngularJS migrarán a Angular.
            </p>
            <br>
            
            <a name="moviles"><h2>Angular y los dispositivos móviles</h2></a>
            <p>
            Angular se ha creado teniendo en cuenta una arquitectura orientada a móviles. Mediante el uso de bibliotecas como NativeScript
                podremos agilizar el desarrollo para móviles con Angular, ya que renderiza un mismo código de forma distinta ya sea un navegador,
                un dispositivo Android o un dispositivo iOS.<br>
                <img src="../../../assets/img/angular-graphic-min.png" width="600px">
            </p>
            
            <br>
            <a name="ventajas"><h2>Ventajas y Desventajas de Angular</h2></a>
            <p>Angular, como todo, también tiene sus ventajas y desventajas. Comenzaremos por sus ventajas.</p>
                <h4>Ventajas</h4>
                <ul>
                    <li>
                        Gran comunidad detrás.
                    </li>
                    <li>Soporte de Google.</li>
                    <li>Desarrollo en una página web (SPA).</li>
                    <li>Posibilidad de desarrollar apps móviles tanto para Android como iOS usando NativeScript.</li>
                    <li>Enlaces de datos bidireccional.</li>
                    <li>Facilidad para realizar test.</li>
                    <li>Uso de plantillas.</li>
                    <li>Reusabilidad.</li>
                    <li>Mantenimiento.</li>
                </ul>
                <br>
            
            <h4>Desventajas</h4>
            <ul>
                <li>Dificultad para migrar de AngularJS a Angular.</li>
                <li>Complejo de aprender por su empinada curva de aprendizaje.</li>
                <li>Debes aprender TypeScript</li>
                <li>Necesario conocimiento del modelo vista controlador(MVC).</li>
            </ul>
            <br>
            
            <a name="comparaciones"><h2>Comparaciones: React y Vue</h2></a>
            https://hackernoon.com/angular-vs-react-vs-vue-which-is-the-best-choice-for-2019-16ce0deb3847<br>
            link para competencia
            
            <h3>Comparación con React</h3>
            
            <h3>Comparación con Vue</h3>
            
            <h3>Conclusiones</h3>
            <br>
            
            <a name="casos-exito"><h2>Casos de Éxito</h2></a>
            <p>Aquí tenéis varios ejemplos de empresas exitosas que usan Angular para desarrollar sus webs:
            </p>
            <ul>
                <li>porsche.com</li>
                <li>safeway.com</li>
                <li>cajero.paginasamarillas.com</li>
                <li>mbmotors.mercedes-benz.es</li>
                <li>forbes.com</li>
                <li>xbox.com</li>
            </ul>
            <br>
            
            <a name="marco"><h2>Marco de Angular dentro de la asignatura</h2></a>
            <a name="resources"><h2>Recursos</h2></a>
            </section>
        </mat-sidenav-content>
</mat-sidenav-container>