<mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
            <a routerLink="./" fragment="intro">¿Qué es Angular?</a><br />
            <a routerLink="./" fragment="diferencias">Diferencias entre Angular y AngularJS</a><br />
            <a routerLink="./" fragment="moviles">Angular y los dispositivos móviles</a><br />
            <a routerLink="./" fragment="ventajas">Ventajas y Desventajas de Angular</a><br />
            <a routerLink="./" fragment="comparaciones">Comparaciones: React y Vue</a><br />
            <a routerLink="./" fragment="casos-exito">Casos de exito</a><br />
            <a routerLink="./" fragment="marco">Marco de Angular dentro de la asignatura</a><br />
            <a routerLink="./" fragment="see-also">Vea también</a><br />
            <a routerLink="./" fragment="resources">Recursos</a><br />
        </mat-sidenav>
    <mat-sidenav-content>
<section>
    <h1>Arquitectura</h1>
    <br>
    <h2>Módulos</h2>
    <p>

    </p>
    <h2>Componentes</h2>
    <p>

    </p>
    <h2>Servicios</h2>
    <p>

    </p>
    <h2>Directivas</h2>
    <p>

    </p>
    <div class="see-also">
            <a name="see-also"><h2>Vea también:</h2></a>
            <p class="intern">
                <a routerLink="./../hola-mundo">Hola Mundo en Angular</a><br />
                <a routerLink="./../angular-cli">Guía de comandos de Angular CLI</a><br />
            </p>
        </div>
        
        <!-- Recursos -->
        <div classs="resources">
                <a name="resources"><h2>Recursos:</h2></a>
            <p class="extern">
                <a href="https://www.campusmvp.es/recursos/post/las-10-principales-diferencias-entre-angularjs-y-angular.aspx" target="blank">
                    Diferencias entre Angular y AngularJS <i class="fas fa-external-link-square-alt"></i>
                </a><br />
                <a href="https://www.lambdatest.com/blog/top-javascript-frameworks-for-2019/" target="blank">
                    Top JavaScript Frameworks de 2019 <i class="fas fa-external-link-square-alt"></i>
                </a><br />
                <a href="https://medium.com/@fabisiakradoslaw/ranking-of-the-best-front-end-frameworks-in-2019-777ec90c8884" target="blank">
                    Ranking mejores Front-End Frameworks <i class="fas fa-external-link-square-alt"></i>
                </a><br />
                <a href="https://www.altexsoft.com/blog/engineering/the-good-and-the-bad-of-angular-development/" target="blank">
                    Pros y Contras de Angular <i class="fas fa-external-link-square-alt"></i>
                </a><br />
                <a href="https://trends.builtwith.com/framework/Angular" target="blank">
                    Tendencias Angular <i class="fas fa-external-link-square-alt"></i>
                </a><br>
                <a href="https://www.madewithangular.com/categories/angular/" target="blank">
                    Made with Angular <i class="fas fa-external-link-square-alt"></i>
                </a>
            </p>
        </div>
</section>
