mat-sidenav-container {
    background-color: transparent;
  }
  
  mat-sidenav {
    background-color: transparent;
    margin-top: 40px;
    padding-right: 1%;
    width: 25%;
    line-height: 35px;
    text-align: right;
  }
  
  
  mat-sidenav a {
    padding : 10px 10px;
  }
  
  mat-sidenav a:hover {
    color: grey;
    font-size: 17px;
  }
  
  mat-sidenav-content {
    margin: 0;
  }

section {
    /*margin-left: 500px;*/
    margin-right: 33%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    background: white;
    border-radius: 4px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 2em;
}

p {
  margin: 20px;
}


.code {
    background: rgb(39, 39, 39);
    color: rgb(0, 255, 0);
}

mat-card {
    margin: 20px;
}

mat-card-content {
  font-size: 16px;
}

input {
    margin: 10px;
}

button {
    margin: 20px;
}

h3 {
    display: inline-block;
}

.big {
    font-size: 2em;
}

.small {
    font-size: 1em;
}

.extern a:hover {
    color: cornflowerblue;
}

.extern a:active {
    color: cornflowerblue;
}

.extern i {
    color: cornflowerblue;
}

.intern a:hover {
    color: cornflowerblue;
}

.intern a:active {
    color: cornflowerblue;
}