<h1>Ejemplos</h1>
<!--
    INDICE:
        - Componentes
        - Modulos
        - Botón que active y desactive un componente
        - Uso de directivas
        - Uso de pipes
        - Servicios
        - Interpolacion
        - Bind properties, class, event
        - Two Way Binding
        - Template Reference Variable
        - Input, Output
        - Routing
-->
<p>
    A continuación te mostramos algunos ejemplos de lo que se puede hacer con Angular
</p>
<mat-card>
    Simple card
</mat-card>