<mat-sidenav-container class="example-container">
<mat-sidenav mode="side" opened>
    <a routerLink="./" fragment="interpolation">Interpolación</a><br />
    <a routerLink="./" fragment="bind-prop">Enlace de Propiedad</a><br />
    <a routerLink="./" fragment="bind-style">Enlace de Estilo</a><br />
    <a routerLink="./" fragment="bind-class">Enlace de Clase</a><br />
    <a routerLink="./" fragment="bind-event">Enlace de Evento</a><br />
    <a routerLink="./" fragment="two-way-bind">Enlace Bidireccional</a><br />
    <a routerLink="./" fragment="directive">Uso de Directivas</a><br />
    <a routerLink="./" fragment="pipes">Uso de Tuberías o Pipes</a><br />
    <a routerLink="./" fragment="template">Variables de Referencia de Plantillas</a><br />
    <a routerLink="./" fragment="inputoutput">Input-Output</a><br />
    <a routerLink="./" fragment="routing">Routing</a><br />
    <a routerLink="./" fragment="see-also">Vea también</a><br />
    <a routerLink="./" fragment="resources">Recursos</a><br />
</mat-sidenav>
<mat-sidenav-content>
    <section>
    <h1>Ejemplos</h1>
    <!--
        INDICE:
            - Componentes
            - Modulos
            - Servicios
            - Directivas
            - Interpolacion
            - Bind properties, style, class, event
            - Two Way Binding
            - Pipes
            - Template Reference Variable
            - Input, Output
            - Routing
    -->
    <p>
        A continuación te mostramos algunos ejemplos de lo que se puede hacer con Angular
    </p>
    
    <!-- Interpolación -->
    <a name="interpolation"></a><mat-card>
        <mat-card-title>Interpolación</mat-card-title>
        <mat-card-content>
            Angular permite alterar la vista introduciendo nuevos valores para las
            propiedades de los componentes, además de poder mostrar su valor
            mediante la <strong>interpolación</strong>.
            Esto da lugar a aplicaciones interactivas que cambian dependiendo
            de las acciones del usuario.<br /><br />La sintaxis de la interpolación
            es la siguiente:
            <mat-card class="code">
                {{ '{' }}{{ '{' }}propiedad{{ '}' }}{{ '}' }}
            </mat-card>
            Escriba un valor para la propiedad, envíelo y verá como la vista
            es modificada. <br />
            <!-- Ejemplo interpolación -->
            <input #myInput type="text" placeholder="Escriba aquí">
            <button mat-raised-button (click)="onClickInterpolation(myInput.value)">Enviar valor</button>
            Me llamo {{name}}
            <br />
        </mat-card-content>
    </mat-card>
    
    <hr />

    <!-- Enlace de Propiedad -->
    <a name="bind-prop"></a><mat-card>
        <mat-card-title>Enlace de Propiedad</mat-card-title>
        <mat-card-content>
            Los siguientes inputs asocian su atributo <strong>disabled</strong> a una variable
            definida en la clase de Javascript denominada <em>isDisabled</em><br /><br />
            Podemos cambiar el valor de esta propiedad con un simple click a un
            botón.<br /><br />La sintaxis del enlace de propiedad es la siguiente:<br />
            <mat-card class="code">
                {{ '[' }}atributoHTML{{ ']' }} = "miAtributo"
            </mat-card>
            <!-- Ejemplo enlace de propiedad -->
            <button mat-stroked-button (click)="onClickDisabled()">Cambiar propiedad</button>
            <input [disabled]="isDisabled" type="text" placeholder="Escriba aquí">
            <br />
        </mat-card-content>
    </mat-card>
    
    <!-- Enlace de Estilo -->
    <a name="bind-style"></a><mat-card>
        <mat-card-title>Enlace de Estilo</mat-card-title>
        <mat-card-content>
            Su funcionamiento es el mismo que para el enlace de propiedad, 
            modificar una propiedad determinada del estilo de un elemento.<br />
            <br />La sintaxis del enlace de estilo es la siguiente:<br />
            <mat-card class="code">
                {{ '[' }}propiedadCSS{{ ']' }} = "miEstilo"
            </mat-card>
            <!-- Ejemplo enlace de estilo -->
            <button mat-stroked-button (click)="onClickStyle()">Cambiar estilo</button>
            <h3 [style.color]="myColor">Texto de Ejemplo</h3>
            <br />
        </mat-card-content>
    </mat-card>
    
    <!-- Enlace de Clase -->
    <a name="bind-class"></a><mat-card>
        <mat-card-title>Enlace de Clase</mat-card-title>
        <mat-card-content>
            Aplica una clase terminada a un elemento mediante un enlace de
            propiedad<br /><br />
            <!-- Ejemplo enlace de clase -->
            <button mat-stroked-button (click)="onClickClass()">Cambiar clase</button>
            <h3 [class]="myClass">Texto de Ejemplo</h3>
            <br />
        </mat-card-content>
    </mat-card>
    
    <!-- Enlace de Evento -->
    <a name="bind-event"></a><mat-card>
        <mat-card-title>Enlace de Evento</mat-card-title>
        <mat-card-content>
            A lo largo de estos ejemplos se han ido asociando el click a un
            botón con un método determinado del componente. Esto se denomina
            enlace de evento.<br /><br />
            La sintaxis del enlace de evento es la siguiente:<br />
            <mat-card class="code">
                {{ '(' }}evento{{ ')' }} = "miEvento"
            </mat-card>
            <!-- Ejemplo enlace de evento -->
            El método puede escribirse inline, es decir, aparece a continuación
            el código del método. <br />
            <input #myEvent type="text" placeholder="Su framework favorito">
            <button mat-stroked-button (click)="framework=myEvent.value">Ejecutar Método</button>
            <h3>Mi framework favorito es {{framework}}</h3>
            <br />
        </mat-card-content>
    </mat-card>
    
    <!-- Enlace de Bidireccional -->
    <a name="two-way-bind"></a><mat-card>
        <mat-card-title>Enlace Bidireccional</mat-card-title>
        <mat-card-content>
            La principal característica de Angular es que la modificación de la
            vista puede alterar el modelo de nuestra aplicación, alterando a su
            vez la vista de nuevo. <br /><br />Para poder modificar la vista
            al mismo tiempo que modificamos el modelo utilizamos la directiva
            <strong>NgModel</strong>, que se encuentra en su módulo específico:
            <br /><br />
            <!-- Ejemplo enlace bidireccional -->
            <input [(ngModel)]="name" type="text" placeholder="Escriba aquí">
            <h3>{{name}}</h3>
            <br />
        </mat-card-content>
    </mat-card>
    
    <hr />

    <!-- Uso de directivas -->
    <a name="directive"></a><mat-card>
        <mat-card-title>Uso de Directivas</mat-card-title>
        <mat-card-content>
            Una directiva es un atributo personalizado que nos proporciona
            Angular. Ya hemos visto alguna de ellas, como ngModel en el
            enlace bidireccional. Existen un tipo concreto de directivas,
            que nos ayudan a controlar el flujo de componentes. Estas son las
            directivas estructurales, que se indican con un * al principio.
            <br /><br />Las directivas estructurales son las siguientes.<br />
            <mat-card class="code">
                *ngIf<br />
                *ngFor<br />
                *ngSwitch<br />
            </mat-card>
            <!-- Ejemplo uso de directivas -->
            <button mat-stroked-button (click)="displayHi=!displayHi">Cambiar valor de la condición del if</button>
            <div *ngIf="displayHi; then thenBlock; else elseBlock"></div>
                <ng-template #thenBlock>
                    <h3>Bienvenido al Tutorial de Angular</h3>
                </ng-template>
                <ng-template #elseBlock>
                    <h3>No eres bienvenido al Tutorial de Angular</h3>
                </ng-template>
            <br />
        </mat-card-content>
    </mat-card>
    
    <!-- Uso de Pipes -->
    <a name="pipes"></a><mat-card>
        <mat-card-title>Uso de Tuberías o Pipes</mat-card-title>
        <mat-card-content>
            Podemos modificar el contenido devuelto por las interpolaciones
            a través de las tuberías, denominadas a partir de ahora pipes.
            (tubería en inglés) <br />
            <mat-card class="code">
                {{ '{' }}{{ '{' }} string | lowercase {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} string | uppercase {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} string | titlecase {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} string | slice:3:5 {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} string | json {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} number | number:'3.4-5' {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} number | percent {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} number | currency {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} number | currency: 'EUR' {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} date {{ '}' }}{{ '}' }}<br />
                {{ '{' }}{{ '{' }} date | date:'short' {{ '}' }}{{ '}' }}<br />
            </mat-card>
            <!-- Ejemplo uso de pipes -->
            CADENA: <input [(ngModel)]="miCadena" type="text" placeholder="Escriba aquí">
            NUMERO: <input [(ngModel)]="miNumero" type="text" placeholder="Escriba aquí"><br />
            {{ miCadena }}<br />
            {{ miCadena | lowercase }}<br />
            {{ miCadena | uppercase }}<br />
            {{ miCadena | titlecase }}<br />
            {{ miCadena | slice:3:5 }}<br />
            {{ miCadena | json }}<br />
            {{ miNumero }}<br />
            {{ miNumero | number:'3.4-5' }}<br />
            {{ miNumero | percent }}<br />
            {{ miNumero | currency }}<br />
            {{ miNumero | currency: 'EUR' }}<br />
            {{ miFecha }}<br />
            {{ miFecha | date:'short' }}<br />
        </mat-card-content>
    </mat-card>
    
    <!-- Template Reference Variables -->
    <a name="template"></a><mat-card>
        <mat-card-title>Variables de Referencia de Plantilla</mat-card-title>
        <mat-card-content>
            Utilizadas para acceder fácilmente a algún elemento del DOM.<br />
            <mat-card class="code">
                    {{ '<' }}input #myInput type="text"{{ '>' }}<br />
                    {{ '<' }}button (click)="miMetodo(myInput.value)"{{ '>' }}<br />
            </mat-card>
            <!-- Ejemplo Template Reference Variables -->
            <input #myTemplate type="text" placeholder="Escriba algo">
            <button mat-raised-button (click)="name=myTemplate.value">Enviar</button><br />
            Ha introducido {{name}}
            <br />
        </mat-card-content>
    </mat-card>
    
    <!-- Input, Output -->
    <a name="input-output"></a><mat-card>
        <mat-card-title>Input, Output</mat-card-title>
        <mat-card-content>
            Angular también permite la interacción entre los distintos
            componentes, transmitiendo mensajes de padre a hijo y viceversa.
            <br />
            <mat-card class="code">
                import {{ '{' }}Input, Output, EvenEmitter{{ '}' }}<br />
                <br />
                @Input('dataParent') public greet;<br />
                @Output() public myEvent = new EventEmitter();<br />
                <br />
                lanzaMsg() {{ '{' }}<br />
                    this.myEvent.emit("Hola usuario");<br />
                {{ '}' }}<br />
            </mat-card>
            <!-- Ejemplo Input, Output -->
            Este ejemplo será realizado en clase
            <br />
        </mat-card-content>
    </mat-card>
    
    <hr />

    <!-- Routing -->
    <a name="routing"></a><mat-card>
        <mat-card-title>Routing</mat-card-title>
        <mat-card-content>
            Este es el módulo que Angular nos pregunta si queremos importar
            al crear una nueva aplicación de Angular. Permite simular la
            navegación entre distintas páginas mediante la adición y sustracción
            de componentes<br />
            <mat-card class="code">
                import {{ '{' }} Routes, RouterModule {{ '}' }} from '@angular/router';<br /><br />
                {{ '{' }}path: '', pathMatch: "full", redirectTo: ''{{ '}' }},<br />
                {{ '{' }}path: 'departments', component: DepartmentListComponent{{ '}' }},<br />
                {{ '{' }}path: 'departments/:id', component: DepartmentDetailComponent{{ '}' }},<br />
                {{ '{' }}path: 'employees', component: EmployeeListComponent{{ '}' }},<br />
                {{ '{' }}path: '**', component: PageNotFoundComponent{{ '}' }}<br /><br />
                En el lugar donde se encuentre esta etiqueta se desplegarán
                los componentes necesarios.<br />
                {{ '<' }}router-outlet{{ '>' }}{{ '<' }}/router-outlet{{ '>' }}
            </mat-card>
            <!-- Ejemplo Routing -->
            <br />
            Esta página es el mejor ejemplo de Routing que podemos ofrecerte,
            navega entre las distintas páginas, utiliza los enlaces internos,
            y sobre todo, ¡aprende!
        </mat-card-content>
    </mat-card>
    
    <a name="see-also"><h3>Vea también</h3></a>
    <a name="resources"><h3>Recursos</h3></a>

    </section>
    
</mat-sidenav-content>
</mat-sidenav-container>