<span id="header">
  <a routerLink="/"><img src="/assets/img/angular-logo.png" width="150px"/></a>
</span>

<div id="container">

  <div id="content">
    <nav>
      <a routerLink="/{{seccion | lowercase}}" *ngFor="let seccion of secciones"><button mat-button>{{seccion}}</button></a>
    </nav>
  
    <router-outlet></router-outlet>
  </div>

  <footer>
    <a id="about" title="Información del equipo de desarrollo detrás de este tutorial"routerLink="/about-us">
      <button mat-button>Sobre Nosotros</button>
    </a>
    <span id="footer" title="El entusiasmo es la esencia de la sinceridad">angular-tutorial</span>
    <a id="github" title="Repositorio de GitHub"[href]="linkRepo" target="blank">
      <img width="70px" src="/assets/img/github-logo-3.png" />
    </a>
  </footer>

</div>

