span {
    background: white;
    text-align: center;
    margin: auto;
    display: block;
    box-shadow: 2px 2px 10px #666;
}

nav {
    text-align: center;
    padding: 0.5em;
    background: #1976d2;
    box-shadow: 2px 2px 10px #666;
}

nav a {
    margin: 1em;
    font-size: 150%;
}

nav a:hover {
    color: #c3002f;
}

nav a:active {
    color: #dd0031;
}


