<span id="header">
  <a routerLink="/"><img src="assets/img/angular-logo.png" width="150px"/></a>
</span>

<div id="container">

  <div id="content">
    <nav>
      <a routerLink="/{{seccion | lowercase}}" *ngFor="let seccion of secciones"><button mat-button>{{seccion}}</button></a>
      <a id="github" title="Repositorio de GitHub"[href]="linkRepo" target="blank">
          <img id="github" width="30px" src="assets/img/github-logo-3.png" /></a>
    </nav>
  
    <router-outlet></router-outlet>
  </div>

  <footer>
    <a id="about" title="Información del equipo de desarrollo detrás de este tutorial"routerLink="/about-us">
      <button mat-button>Sobre Nosotros</button>
    </a>
    <span id="footer" title="El entusiasmo es la esencia de la sinceridad">angular-tutorial</span>
    
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
    
  </footer>

</div>

