<mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
            <a routerLink="./" fragment="install">Instalar Angular CLI</a><br />
            <a routerLink="./" fragment="config">Configurar Angular CLI</a><br />
            <a routerLink="./" fragment="syntax">Sintaxis</a><br />
            <a routerLink="./" fragment="comandos">Comandos</a><br />
            <a routerLink="./" fragment="see-also">Vea también</a><br />
            <a routerLink="./" fragment="resources">Recursos</a><br />
        </mat-sidenav>
        <mat-sidenav-content>
            <section>
            <h1>Angular CLI</h1>
            <p>
                La interfaz de línea de comandos es una herramienta que nos permite 
                inicializar, desarrollar, construir y mantener las aplicaciones de Angular.
                Para usarla sólo necesitas tu terminal favorita, aunque también está 
                disponible con interfaz de usuario a través de una extensión en VS Code.
            </p>
            
            <a name="install"><h2>Instalar Angular CLI</h2></a>
            <p>
                <mat-card>npm install -g @angular/cli</mat-card><br><br>
                Instalamos Angular CLI desde el gestor de paquete npm. La opción -g indica 
                que lo instale de forma que el módulo pueda ser accedido desde cualquier 
                punto del sistema de archivos.
            </p>
            
            <a name="config"><h2>Configurar Angular CLI</h2></a>
            <p>
                Podemos establecer la configuración del CLI para cada proyecto, esta 
                configuración se encuentra en el fichero angular.json, que podemos editar 
                directamente, o con el comando: <br /> <br>
                <mat-card>ng config</mat-card>
                <br>
            </p>
            
            <a name="syntax"><h2>Sintaxis</h2></a>
            <p>
                <mat-card>ng commandNameOrAlias requiredArg [optionalArg] [options]</mat-card><br>

            </p>
            
            <h3>Opciones Booleanas</h3>
            <p>
                Pueden escribirse de dos formas:
                Activada: --opcionBooleana
                No activada: --noOpcionBooleana 
            </p>
            <a name="comandos"><h2>Comandos de Angular CLI</h2></a>
            <br>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                <!-- Name Column -->
                <ng-container matColumnDef="name" sticky>
                    <th mat-header-cell *matHeaderCellDef> Comando </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                
                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br>
            <a name="see-also"><h2>Vea también:</h2></a>
                <p class="intern">
                    <a routerLink="./../hola-mundo">Hola Mundo en Angular</a><br />
                    <a routerLink="./../ejemplos">Ejemplos de código en Angular</a><br />
                </p>
            <!-- Recursos -->
            <div class="resources">
                    <a name="resources"><h2>Recursos:</h2></a>
                <p class="extern">
                    <a href="https://angular.io/guide/setup-local" target="blank">
                        Setup Local por la web oficial de Angular <i class="fas fa-external-link-square-alt"></i>
                    </a><br />
                    <a href="https://nodejs.org/en/download/" target="blank">
                        Descargar NodeJS <i class="fas fa-external-link-square-alt"></i>
                    </a><br />
                    <a href="https://nodejs.org/en/download/package-manager/" target="blank">
                        Descarga de paquetes de NodeJS <i class="fas fa-external-link-square-alt"></i>
                    </a><br />
                    <a href="https://github.com/nodesource/distributions/blob/master/README.md" target="blank">
                        Repositorio de NodeJS de distribuciones basadas en Debian <i class="fas fa-external-link-square-alt"></i>
                    </a><br />
                    <a href="https://cli.angular.io/" target="blank">
                        Guía Oficial de Comandos Angular CLI <i class="fas fa-external-link-square-alt"></i>
                    </a><br />
                    
                </p>
            </div>    
            </section>
        </mat-sidenav-content>
</mat-sidenav-container>

      