@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    font-family: 'Roboto Slab', Roboto, "Helvetica Neue", sans-serif;
    /*background-image: url("./assets/img/background-1.png");*/
    background-color: rgba(25, 118, 210, 0.157);
}


a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    background-color: transparent;
    text-decoration: none;
}

a:active{
    background-color: transparent;
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


