@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /*background-image: url("./assets/img/background-1.png");*/
}

a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: black;
    background-color: transparent;
    text-decoration: none;

}

a:hover{

    background-color: transparent;
    text-decoration: none;
}

a:active{

    background-color: transparent;
    text-decoration: none;
}